/* .profile {
  display: flex;
  border: 1px solid red;
  border-radius: 10px;
  width: fit-content;
  gap: 20px;
  padding: 24px;
} */
.profile {
  display: flex;
  border: 1px solid black;
  flex-direction: column;

  border-radius: 10px;
  width: 1190px;
  height: 325px;
  background-color: rgb(60, 197, 255);
}
.profile-info-header {
  height: 30px;
  width: 315px;
  gap: 5px;
}
.zurag {
  border-radius: 10px;
}
.profile-s {
  display: flex;
  justify-content: flex-end;

  padding: auto;
  width: 559px;
  height: 230px;
  border-radius: 10px;
  background-color: white;
}

.followers {
  display: flex;

  background-color: rgb(193, 188, 188);
  width: 315px;
  height: 70px;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column-reverse;
}
.buttons {
  width: 315px;
}

.chat {
  border-color: blue;
  color: blue;
  border-radius: 5px;
}
.follow {
  background-color: blue;
  color: white;
  border-radius: 5px;
}
